Options +FollowSymLinks
RewriteEngine On
RewriteBase /gossoutfinal/
Options -Multiviews

#RewriteRule ^login$ login.php [L]

#RewriteCond %{HTTP_HOST} ^www.(.+)
#RewriteCond %{HTTPS}s/%1 ^(on(s)|offs)/(.+)
#RewriteRule ^ http%2://%3%{REQUEST_URI} [L,R=301]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule ^(.*)$ $1.php

#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([a-zA-Z0-9_-\s]+)/?([a-zA-Z0-9_-\s]+)?$ index.php?page=$1&param=$2